#city {
  margin-top: 20px;
  padding: 0px;
  font-weight: 700;
}
  #date {
    font-weight: 400;
  }
  #time {
    font-weight: 400;
    margin-top: 0px;
    padding-top: 0px;
  }
  #temperature {
    margin-top: 50px;
    font-size: 60px;
  }
  #precipitation {
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #wind {
    font-weight: 400;
    padding-top: 10px;
  }
  body {
    font-family: ;
  }
  #cloud-icon {
    font-size: 150px;
    position: fixed;
    right: 460px;
    top: 20px;
    padding: 100px;
    border: solid;
    border-radius: 50%;
    background-color: rgb(193, 242, 196);
  }
  body {
    color: #4eae53;
  }
  #form {
    position: fixed;
    left: 1200px;
    bottom: 700px;
  }
  #button {
    background-color: rgb(193, 242, 196);
    border: solid 1px;
  }
  #current {
    border: solid 1px;
  }
}
hr {
  margin-top: 90px;
  border-top: 5px solid #4eae53;
}
#days {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
#icons-days {
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
}
.fa-sun {
  border: solid;
  border-radius: 50%;
  background-color: rgb(193, 242, 196);
  padding: 20px;
}
.fa-cloud-rain {
  border: solid;
  border-radius: 50%;
  background-color: rgb(193, 242, 196);
  padding: 20px;
}
#temperature-days {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}
#celsius-temp {
  font-size: 40px;
}
#farenheit-temp {
  font-size: 40px;
}
#separation {
  font-size: 40px;
}
#weather-info{
padding-bottom: 100px;
}